{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="page-header">
        <h1>根据选择的条件，筛选出了{{ num }}条信息。
            <small>将指针悬停在按钮上，可以查看详细的信息。</small>
        </h1>
    </div>
    <div class="row">
        {% for house in houses %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ house.img }}" alt="..." style="height: 230px">
                    <div class="caption">
                        <h3 class="features">{{ house.title }}</h3>
                        <p>出租方式：{{ house.renttype }}</p>
                        <p>房形：{{ house.hometype }}</p>
                        <p>{{ house.payment }}</p>
                        <p>{{ house.decorade }}</p>
                        <p>{{ house.area }}</p>
                        <p><a href="#" class="btn btn-primary" role="button">收藏</a> <a href="#"
                                                                                           class="btn btn-default"
                                                                                           role="button">详情</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>



{% endblock %}
{% block extjs %}
    <script type="text/javascript" src="{% static "js/search/search.js" %}"></script>

{% endblock %}
